html {
    width: 100%;
    box-sizing: border-box;
}

*::before,
*::after,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

img {
    max-width: 800px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}

.navbar {
    background-color: #1F2937;
    height: 80px;
}

.navbar .logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.navbar .links ul a {
    color: #E5E7EB;
    font-size: 18px;
}

.navbar .container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .container ul {
    display: flex;
    gap: 24px;
}

.navbar .container a:hover {
    color: #7cb3ff;
}

.heading {
    background-color: #1F2937;
    height: 30rem;
}

.heading-left h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    width: 500px;
}

.heading-left p {
    color: #E5E7EB;
    font-size: 18px;
    width: 450px;
}

.heading-left .signup-btn {
    background-color: #3882F6 ;
    color: #F9FAF8;
    border: none;
    font-size: 18px;
    font-weight: 550;
    padding: 8px 28px;
    border-radius: 8px;
    margin-top: 12px;
}

.heading-right img {
    width: 400px;
}

.heading .container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content.boxes {
    height: 28rem; 
}

.content.boxes .container h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.content.boxes .container .box-wrapper {
    display: flex;
    justify-content: center;
    gap: 50px
}

.box-container .box {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6 ;
    border-radius: 15px;

    transition: height 1s, width 1s, transform 1s;
}

.box-container .box:hover {
    width: 200px;
    height: 200px;
}

.box-container p {
    width: 150px;
    text-align: center;
}

.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.content.quote {
    height: 400px;
    background-color: #E5E7EB;
}

.content.quote .container {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content.quote .container .quote {
    width: 800px;
}

.content.quote .container .quote h1 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.content.quote .container .quote h6 {
    color: #1F2937;
    font-size: 26px;
    text-align: end;
}

.bottom-banner {
    height: 300px;
}

.bottom-banner .banner {
    background-color: #3882F6;
    width: inherit;
    height: 130px;
    border-radius: 10px ;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom-banner .banner h2 {
    color: #F9FAF8;
}

.bottom-banner .banner p {
    color: #E5E7EB;
}

.bottom-banner .container {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-banner .banner-button {
    background-color: inherit;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    font-size: 18px;
    color: #F9FAF8;
    padding: 5px 28px;
}

footer {
    background-color: #1F2937;
    height: 80px;
}

footer .container {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #F9FAF8;
}




